body {
  background: #101010;
}

.pageContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mapMaker {
  display: grid;
  background: #303030;
  color: white;
  padding: 30px;
  border-radius: 15px;
}

.editor-bar {
  background: #252525;
  padding: 25px;
  display: flex;
  position: absolute;
  flex-direction: column;
  top: -100px;
  left: 50%;
  translate: -50%;
  height: 50px;
}


.editor-bar>#barItems>* {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.editor-bar>#barItems {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.editor-bar>#barItems>#redBtn {
  background: red;
}

.editor-bar>#barItems>#greenBtn {
  background: green;
}

.editor-bar>#barItems>#blueBtn {
  background: blue;
}

.editor-bar>#barItems>#eraseBtn {
  background: linear-gradient(to bottom right, #ffcccc, #ff6666, #cc3333);
}

.grid-box {
  width: 20px;
  height: 20px;
  background: #606060;
  border: 1px solid #ccc;
}
